1 st pract : Create one-dimensional data using series and perform various operations on it

In [1]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])

In [2]:
print(data)

a    5
b    2
c    3
d    7
dtype: int64

In [3]:
print(data1)

a    1
b    6
d    4
e    9
dtype: int64

In [4]:
# .add
data.add(data1, fill_value=0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [5]:
# .sub
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

In [6]:
# . div
data.div(data1)

a    5.000000
b    0.333333
c         NaN
d    1.750000
e         NaN
dtype: float64

In [7]:
data.pow(data1)

a       5.0
b      64.0
c       NaN
d    2401.0
e       NaN
dtype: float64

2nd pract : Create Two-dimensional data with the help of data frames and perform different operations 
on it.

In [8]:
import pandas as pd
dict1 = {'one' : pd.Series([1., 2., 3.],index=['a', 'b', 'c']),
         'two' : pd.Series([1., 2., 3., 4.],
                           index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(dict1)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [9]:
#Add column
df['three'] = df['one'] * df['two']
df['flag'] = df['one'] > 2 
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [10]:
#Adding a Column Using a Scalar and Assigning to a Data Frame
df['Filler'] = 'HCT'
df['Slic'] = df['one'][:2]
df

   one  two  three   flag Filler  Slic
a  1.0  1.0    1.0  False    HCT   1.0
b  2.0  2.0    4.0  False    HCT   2.0
c  3.0  3.0    9.0   True    HCT   NaN
d  NaN  4.0    NaN  False    HCT   NaN

In [11]:
# Delete columns
del df['two']

#alternative code 
Three = df.pop('three')
df

   one   flag Filler  Slic
a  1.0  False    HCT   1.0
b  2.0  False    HCT   2.0
c  3.0   True    HCT   NaN
d  NaN  False    HCT   NaN

In [12]:
#insert value on index 1
df.insert(1, 'bar', df['one'])
df

   one  bar   flag Filler  Slic
a  1.0  1.0  False    HCT   1.0
b  2.0  2.0  False    HCT   2.0
c  3.0  3.0   True    HCT   NaN
d  NaN  NaN  False    HCT   NaN

In [13]:
#missing value
df.isna()

     one    bar   flag  Filler   Slic
a  False  False  False   False  False
b  False  False  False   False  False
c  False  False  False   False   True
d   True   True  False   False   True

In [14]:
#summary
df.describe()

       one  bar      Slic
count  3.0  3.0  2.000000
mean   2.0  2.0  1.500000
std    1.0  1.0  0.707107
min    1.0  1.0  1.000000
25%    1.5  1.5  1.250000
50%    2.0  2.0  1.500000
75%    2.5  2.5  1.750000
max    3.0  3.0  2.000000

3 pract : Write a code to read data from the different file formats like JSON, HTML, XML, and CSV 
files and check for missing data and outlier values and handle them

In [16]:
# read csv file 
import pandas as pd
df = pd.read_csv(r'real_estate.csv')
df

,data.date,data.owned or leased,data.parking spaces,data.status,data.type,location.congressional district,location.id,location.region id,data.disabilities.ADA Accessible,data.disabilities.ansi usable,location.address.city,location.address.county,location.address.line 1,location.address.state,location.address.zip
0,1933.1.1,OWNED,29,ACTIVE,BUILDING,1,CT0013,1,Will Conform,97072,HARTFORD,HARTFORD COUNTY,135 HIGH ST,CT,61031125
1,2019.1.1,OWNED,0,ACTIVE,BUILDING,3,CT0024,1,Will Conform,67717,NEW HAVEN,NEW HAVEN COUNTY,141 CHURCH ST,CT,65102001
2,1933.1.1,LEASED,2,ACTIVE,BUILDING,5,CT0047,1,Will Conform,7442,WATERBURY,NEW HAVEN COUNTY,135 GRAND ST,CT,67029998
3,1963.1.1,OWNED,103,ACTIVE,BUILDING,1,CT0053,1,Will Conform,203175,HARTFORD,HARTFORD COUNTY,450 Main St,CT,61031804
4,1967.1.1,OWNED,131,ACTIVE,BUILDING,4,CT0059,1,Will Conform,86215,BRIDGEPORT,FAIRFIELD COUNTY,915 LAFAYETTE BLVD,CT,66044706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9124,0,LEASED,24,ACTIVE,BUILDING,3,NV8371,9,Will Conform,23669,LAS VEGAS,CLARK COUNTY,6750 VIA AUSTI PKY,NV,891193565
9125,0,LEASED,7,ACTIVE,BUILDING,3,NV8403,9,Yes,10894,LAS VEGAS,CLARK COUNTY,3595 E PATRICK LN,NV,891203214
9126,0,LEASED,221,ACTIVE,BUILDING,2,NV8446,9,Yes,35839,CARSON CITY,CARSON CITY,5665 Morgan Mill Rd,NV,897011448
9127,0,LEASED,288,ACTIVE,BUILDING,2,NV8447,9,Yes,34050,WINNEMUCCA,HUMBOLDT COUNTY,5100 E WINNEMUCCA BLVD,NV,894452921
9128,0,LEASED,40,ACTIVE,BUILDING,1,NV8464,9,Will Conform,1787,LAS VEGAS,CLARK COUNTY,3773 Howard Hughes Pkwy,NV,891690922

In [18]:
#read xml file
df = pd.read_xml('sample_CustomersOrders.xml')
df.head()

   Customer  Order
0       NaN    NaN
1       NaN    NaN

In [23]:

# read Excel file into a DataFrame
df = pd.read_excel(r'SampleXLSFile_19kb.xls')
# print values
df

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.8100,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.7075,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,Clay Rozendal,483,1198.9710,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.9400,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.4300,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.0385,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.7000,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.2600,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.3600,4.98,8.33,Nunavut,Paper,0.38

In [25]:
# read Json file
import json
with open('example_1.json') as data:
     JSONdta = json.load(data)
print(JSONdta)

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

# check for missing data and outlier values and handle them

In [ ]:
# Importing libraries
import pandas as pd
import numpy as np

In [ ]:
# Read csv file into a pandas dataframe
df = pd.read_csv("property.csv")

In [ ]:
# Take a look at the first few rows
df.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [ ]:
# Standard Missing Values
# Looking at the ST_NUM column
df['ST_NUM']
df['ST_NUM'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [ ]:
# Non-Standard Missing Values
# Looking at the NUM_BEDROOMS column
df['NUM_BEDROOMS']
df['NUM_BEDROOMS'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [ ]:
# Replace missing values with a number
df['ST_NUM'].fillna(125, inplace=True)

In [ ]:
# Location based replacement
df.loc[2,'ST_NUM'] = 125
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0   125.0   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0   125.0  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800



# handle Outlier

In [26]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

# Reading the data
df = pd.read_csv("real_estate.csv")
print(df.shape)
print(df.info())

(9129, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9129 entries, 0 to 9128
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   data.date                         9129 non-null   object
 1   data.owned or leased              9129 non-null   object
 2   data.parking spaces               9129 non-null   int64
 3   data.status                       9129 non-null   object
 4   data.type                         9129 non-null   object
 5   location.congressional district   9129 non-null   object
 6   location.id                       9129 non-null   object
 7   location.region id                9129 non-null   int64
 8   data.disabilities.ADA Accessible  9129 non-null   object
 9   data.disabilities.ansi usable     9129 non-null   int64
 10  location.address.city             9129 non-null   object
 11  location.address.county           9129 non-null   object
 12  location.address.line 1           9129 non-null   object
 13  location.address.state            9129 non-null   object
 14  location.address.zip              9129 non-null   int64
dtypes: int64(4), object(11)
memory usage: 1.0+ MB
None

In [27]:
df.describe()

,data.parking spaces,location.region id,data.disabilities.ansi usable,location.address.zip
count,9129.000000,9129.000000,9.129000e+03,9.129000e+03
mean,50.947092,6.222916,3.335182e+04,4.668926e+08
std,189.305939,2.896577,9.477075e+04,3.243496e+08
min,0.000000,1.000000,0.000000e+00,6.050000e+02
25%,0.000000,4.000000,2.535000e+03,2.002421e+08
50%,8.000000,7.000000,7.629000e+03,4.321511e+08
75%,39.000000,9.000000,2.135300e+04,7.852168e+08
max,6600.000000,11.000000,1.989117e+06,9.990200e+08

In [28]:
# Identifying Outliers with Interquartile Range (IQR)
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

data.parking spaces                     39.0
location.region id                       5.0
data.disabilities.ansi usable        18818.0
location.address.zip             584974658.0
dtype: float64

In [29]:
print(df < (Q1 - 1.5 * IQR)) == (df > (Q3 + 1.5 * IQR));

      data.date  data.disabilities.ADA Accessible  \
0         False                             False
1         False                             False
2         False                             False
3         False                             False
4         False                             False
...         ...                               ...
9124      False                             False
9125      False                             False
9126      False                             False
9127      False                             False
9128      False                             False

      data.disabilities.ansi usable  data.owned or leased  \
0                             False                 False
1                             False                 False
2                             False                 False
3                             False                 False
4                             False                 False
...                             ...                   ...
9124                          False                 False
9125                          False                 False
9126                          False                 False
9127                          False                 False
9128                          False                 False

      data.parking spaces  data.status  data.type  location.address.city  \
0                   False        False      False                  False
1                   False        False      False                  False
2                   False        False      False                  False
3                   False        False      False                  False
4                   False        False      False                  False
...                   ...          ...        ...                    ...
9124                False        False      False                  False
9125                False        False      False                  False
9126                False        False      False                  False
9127                False        False      False                  False
9128                False        False      False                  False

      location.address.county  location.address.line 1  \
0                       False                    False
1                       False                    False
2                       False                    False
3                       False                    False
4                       False                    False
...                       ...                      ...
9124                    False                    False
9125                    False                    False
9126                    False                    False
9127                    False                    False
9128                    False                    False

      location.address.state  location.address.zip  \
0                      False                 False
1                      False                 False
2                      False                 False
3                      False                 False
4                      False                 False
...                      ...                   ...
9124                   False                 False
9125                   False                 False
9126                   False                 False
9127                   False                 False
9128                   False                 False

      location.congressional district  location.id  location.region id
0                               False        False               False
1                               False        False               False
2                               False        False               False
3                               False        False               False
4                               False        False               False
...                               ...          ...                 ...
9124                            False        False               False
9125                            False        False               False
9126                            False        False               False
9127                            False        False               False
9128                            False        False               False

[9129 rows x 15 columns]

<ipython-input-29-fa4b3fe375ce>:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  print(df < (Q1 - 1.5 * IQR)) == (df > (Q3 + 1.5 * IQR));
<ipython-input-29-fa4b3fe375ce>:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  print(df < (Q1 - 1.5 * IQR)) == (df > (Q3 + 1.5 * IQR));

In [30]:
# Identifying Outliers with Skewness
print(df['ST_NUM'].skew())
df['ST_NUM'].describe()

KeyError: ignored

In [31]:
#Identifying Outliers with Visualization
# 1. Box Plot
plt.boxplot(df["ST_NUM"])
plt.show()
# 2. Histogram
df.ST_NUM.hist()
# 3. Scatterplot

KeyError: ignored

In [32]:
# Replacing Outliers with Median Values
print(df['ST_NUM'].quantile(0.50)) 
print(df['ST_NUM'].quantile(0.95)) 
df['ST_NUM'] = np.where(df['ST_NUM'] > 325, 140, df['ST_NUM'])
df.describe()

KeyError: ignored

4 pract :Perform Reshaping of the hierarchical data and pivoting data frame data.

In [ ]:
# import pandas module
import pandas as pd

# making dataframe
df = pd.read_csv("nba.csv")


# it was print the first 5-rows
print(df.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [ ]:
# reshape the dataframe using stack() method
df_stacked = df.stack()
  
print(df_stacked.head(26))

0  Name            Avery Bradley
   Team           Boston Celtics
   Number                    0.0
   Position                   PG
   Age                      25.0
   Height                    6-2
   Weight                  180.0
   College                 Texas
   Salary              7730337.0
1  Name              Jae Crowder
   Team           Boston Celtics
   Number                   99.0
   Position                   SF
   Age                      25.0
   Height                    6-6
   Weight                  235.0
   College             Marquette
   Salary              6796117.0
2  Name             John Holland
   Team           Boston Celtics
   Number                   30.0
   Position                   SG
   Age                      27.0
   Height                    6-5
   Weight                  205.0
   College     Boston University
dtype: object

In [ ]:
# reshape the dataframe using unstack() method
df_unstacked = df_stacked.unstack()
print(df_unstacked.head(10))

            Name            Team Number Position   Age Height Weight  \
0  Avery Bradley  Boston Celtics    0.0       PG  25.0    6-2  180.0
1    Jae Crowder  Boston Celtics   99.0       SF  25.0    6-6  235.0
2   John Holland  Boston Celtics   30.0       SG  27.0    6-5  205.0
3    R.J. Hunter  Boston Celtics   28.0       SG  22.0    6-5  185.0
4  Jonas Jerebko  Boston Celtics    8.0       PF  29.0   6-10  231.0
5   Amir Johnson  Boston Celtics   90.0       PF  29.0    6-9  240.0
6  Jordan Mickey  Boston Celtics   55.0       PF  21.0    6-8  235.0
7   Kelly Olynyk  Boston Celtics   41.0        C  25.0    7-0  238.0
8   Terry Rozier  Boston Celtics   12.0       PG  22.0    6-2  190.0
9   Marcus Smart  Boston Celtics   36.0       PG  22.0    6-4  220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [ ]:
# reshape the dataframe using melt() method
# it takes two columns "Name" and "Team"
df_melt = df.melt(id_vars =['Name', 'Team']) 
print(df_melt.head(10))

            Name            Team variable value
0  Avery Bradley  Boston Celtics   Number   0.0
1    Jae Crowder  Boston Celtics   Number  99.0
2   John Holland  Boston Celtics   Number  30.0
3    R.J. Hunter  Boston Celtics   Number  28.0
4  Jonas Jerebko  Boston Celtics   Number   8.0
5   Amir Johnson  Boston Celtics   Number  90.0
6  Jordan Mickey  Boston Celtics   Number  55.0
7   Kelly Olynyk  Boston Celtics   Number  41.0
8   Terry Rozier  Boston Celtics   Number  12.0
9   Marcus Smart  Boston Celtics   Number  36.0

#pivoting data frame data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# making dataframe
df = pd.DataFrame({'fff': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bbb': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                   'baa': [2, 3, 4, 5, 6, 7],
                   'zzz': ['h', 'i', 'j', 'k', 'l', 'm']})
df

   fff bbb  baa zzz
0  one   P    2   h
1  one   Q    3   i
2  one   R    4   j
3  two   P    5   k
4  two   Q    6   l
5  two   R    7   m

In [ ]:
df.pivot(index='fff', columns='bbb', values='baa')

bbb  P  Q  R
fff
one  2  3  4
two  5  6  7

In [ ]:
df.pivot(index='fff', columns='bbb')['baa']

bbb  P  Q  R
fff
one  2  3  4
two  5  6  7

In [ ]:
df.pivot(index='fff', columns='bbb', values=['baa', 'zzz'])

    baa       zzz
bbb   P  Q  R   P  Q  R
fff
one   2  3  4   h  i  j
two   5  6  7   k  l  m